<form id="edit-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">
    {:token()}
    <input type="hidden" name="row[id]" value="{$row.id|htmlentities}">

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Avatar')}:</label>
        <div class="col-xs-12 col-sm-8">
            <img src="{$row.avatar_url|htmlentities}" alt="" style="width:72px;height:72px;border-radius:50%;border:1px solid #e5e5e5;">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Nickname')}:</label>
        <div class="col-xs-12 col-sm-4">
            <input class="form-control" type="text" value="{$row.nickname|htmlentities}" readonly>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Mobile')}:</label>
        <div class="col-xs-12 col-sm-4">
            {if $canEditUserMobile}
            <input class="form-control" type="text" name="row[mobile]" value="{$row.mobile|htmlentities}" data-rule="required;length(11);">
            <p class="help-block">仅支持 11 位手机号，保存时会校验唯一性。</p>
            {else/}
            <input class="form-control" type="text" value="{$row.mobile|htmlentities}" readonly>
            {/if}
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('School_name')}:</label>
        <div class="col-xs-12 col-sm-4">
            {if $canEditUserSchool}
            <select class="form-control selectpicker" name="row[school_id]">
                <option value="0" {if condition="(int)$row.school_id === 0"}selected{/if}>未绑定学校</option>
                {foreach name="schooldata" item="schoolName" key="schoolId"}
                <option value="{$schoolId|htmlentities}" {if condition="(int)$row.school_id === (int)$schoolId"}selected{/if}>{$schoolName|htmlentities}</option>
                {/foreach}
            </select>
            <p class="help-block">保存后会同步更新该用户历史帖子的学校归属。</p>
            {else/}
            <input class="form-control" type="text" value="{$row.school_name|default='-'|htmlentities}" readonly>
            {/if}
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Bio')}:</label>
        <div class="col-xs-12 col-sm-8">
            <textarea class="form-control" rows="3" readonly>{$row.bio|htmlentities}</textarea>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Createtime')}:</label>
        <div class="col-xs-12 col-sm-4">
            <input class="form-control" type="text" value="{$row.createtime_text|htmlentities}" readonly>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Discover_count')}:</label>
        <div class="col-xs-12 col-sm-4">
            <input class="form-control" type="text" value="{$row.discover_count|default='0'|htmlentities}" readonly>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Comment_count')}:</label>
        <div class="col-xs-12 col-sm-4">
            <input class="form-control" type="text" value="{$row.comment_count|default='0'|htmlentities}" readonly>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Last_discover_time')}:</label>
        <div class="col-xs-12 col-sm-4">
            <input class="form-control" type="text" value="{$row.last_discover_time_text|htmlentities}" readonly>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Status')}:</label>
        <div class="col-xs-12 col-sm-8">
            {:build_radios('row[status]', ['normal'=>__('Normal'), 'hidden'=>__('Hidden')], $row['status'])}
        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-primary btn-embossed disabled">{:__('OK')}</button>
        </div>
    </div>
</form>
